<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시물 작성 폼</title>
</head>
<body>
    <div class="layout">
        <form action="/board/update/{{Project.id}}" method="post">
        <input name="title" type="text" value="{{Project.content}}">
            <input name="img_url" type="text">
            <input name="writer_id" type="text">
        <!--<input name="content" type="text"> -->
            <textarea name="content">{{Project.content}}</textarea>

        <button type="submit">작성</button>
        </form>
    </div>
</body>
</html>