<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectMapper">
        <select id="selectAll" resultType="hashMap">
        SELECT p.`id`, p.`title`, p.`content`, u.`nickname`
        FROM `project` AS p
        INNER JOIN `user` AS u
        ON p.`writer_id` = u.`id`
        ORDER BY p.`id` DESC
    </select>
    <select id="selectOne" parameterType="int" resultType="hashMap">
        SELECT p.`id`, p.`title`, p.`content`, u.`nickname`, p.`target_money`
        FROM `project` AS p
        INNER JOIN `user` AS u
        ON p.`writer_id` = u.`id`
        WHERE p.`id` = #{id}
    </select>
    <select id="countAll" resultType="int">
        SELECT COUNT(`id`) FROM `project`
    </select>
    <insert id="insert" parameterType="projectDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `project`(`title`, `img_url`, `content`, `writer_id`, `start_date`, `end_date`)
        VALUES(#{title},  #{content}, #{writer_id}, NOW(), )
    </insert>
    <update id="update" parameterType="projectDTO">
        UPDATE `project` SET
        `title` = #{title}

        `content` = #{content}

    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM `project`
        WHERE `id` = #{id}
    </delete>
    <select id="dateChk" parameterType="int" resultType="projectDTO">
        SELECT `funding_start_date`, `funding_end_date` FROM `project`
        WHERE `id` = #{id}
    </select>
</mapper>